:root {
  --width-mobile: 375px;
  --width-desktop: 1400px;

  --neutral-950: hsl(222, 32%, 8%);
  --neutral-900: hsl(230, 19%, 12%);
  --neutral-800: hsl(231, 16%, 16%);
  --neutral-700: hsl(221, 16%, 20%);
  --neutral-600: hsl(222, 11%, 36%);
  --neutral-500: hsl(221, 8%, 48%);
  --neutral-400: hsl(220, 11%, 64%);
  --neutral-300: hsl(219, 15%, 82%);
  --neutral-200: hsl(216, 19%, 90%);

  --neutral-100: hsl(216, 26%, 96%);
  --neutral-50: hsl(216, 33%, 97%);

  --blue-700: hsl(228, 70%, 48%);
  --blue-500: hsl(228, 100%, 60%);
  --blue-50: hsl(222, 100%, 96%);

  --green-500: hsl(148, 71%, 44%);
  --green-100: hsl(154, 84%, 90%);

  --red-500: hsl(355, 96%, 60%);
  --red-100: hsl(356, 100%, 92%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26rem;
  height: 17rem;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 1px solid black; */
  z-index: 1;
}
.logo {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(165, 13, 13); */
  margin-bottom: 10px;
  margin-top: 10px;
}
.logo #svg_logo {
  width: 70px;
  height: 40px;
}
.welcome {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.welcome h1 {
  font-size: 1.1rem;
  margin-top: 0;
  padding: 0;
  letter-spacing: 0px;
}
.welcome p {
  font-size: 0.6rem;
  margin-top: 8px;
  opacity: 0.8;
}
.form {
  margin-top: 20px;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form form {
  width: 100%;
  height: 100%;
}
.form .form-group {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form .form-group input {
  width: 90%;
  height: 2rem;
}
.form .form-group label {
  margin-bottom: 3px;
  font-size: 12px;
}

/* -------- */
input {
  padding-left: 10px;
  border: 1px solid #cacfd8;
  border-radius: 4px;
}
form #reset-link-btn {
  width: 90%;
  height: 2.2rem;
  background-color: #335cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Center horizontally */
}

#email_address_reset {
  width: 90%;
  text-align: left;
}
